.header {
    border-bottom: 1px solid #ECECEC;

}
.navbox {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    
}

.navcont {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        position: relative;
        height: 60px;
    }

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
        height: 80px;
    }
}

.btn-menu {
    cursor: pointer;

    @media screen and (min-width: 0px), (min-width: 480px) {
        position: absolute;
        right: 15px;

        width: 40px;
        height: 40px;
        padding: 12px 8px;

        background-color: $primary-background-color;
        border: $primary-background-color;
        }

    @media screen and (min-width: 768px) {
        display: none;
    }
}
