.specbox-icon {
    height: 120px;
    margin: 0;
    background-color: $button-color;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 0px), (min-width: 480px) {
        width: 100%;
    }

    @media screen and (min-width: 1200px){
        width: 270px;
    }
}
.specialty__title {
    margin-top: $margin-gap-set;

    color: $titel-text-color;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.specialty__text{
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.7;
}