$text-link-footer: #ffffff99;
$button-color: #F5F4FA;
$secondary-ac-color: #ffffff;
$accsent-color: #2196F3;
$titel-text-color: #212121;
$primary-text-color: #757575;
$secondary-background-color: #2F303A;
$primary-background-color: #ffffff;
$background-basis: #F5F5F5;
$logo-accsent: #000000;
$margin-gap-set: 30px;
$icon-color-primary: #AFB1B8;
$ont-family-primary: roboto, sans-serif;
$letter-spacing: 0.03em;
$font-family-secondary: raleway, sans-serif;